name: CI

on:
  push:
    branches:
      - master
      - 'v*' # older version branches
    tags:
      - '*'
  pull_request:

jobs:
  benchmark:
    runs-on: ubuntu-latest
    name: perf:benchmark

    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-node@v2.4.1
      with:
        node-version: 16.x

    - name: Install dependencies
      run: yarn install

    - name: Build project
      run: yarn build

    - name: Run script
      run: yarn perf:benchmark
